@charset "utf-8";

BODY {
	background-image: url("images/bg.gif");
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

IMG {
	border: 0;
}

A {
	text-decoration: none;
	color: #906;
	background-color: inherit;
	font-weight: inherit;
}

A:hover {
	text-decoration: underline;
}

H1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	background-color: inherit;
	width: auto;
	border-color: #000;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 0;
	margin: 0 0 12px 0;
}

H1 STRONG {
	margin: 0;
	font-size: 22px;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #80BEF3;
	color: inherit;
}

H1 STRONG A {
	color: #fff;
	background-color: inherit;
	font-weight: bold;
}

H1 STRONG A:hover {
	text-decoration: none
}

H1 EM {
	color: #000;
	background-color: inherit;
}

H1 SMALL {
	font-weight: normal;
	color: #80BEF3;
}

H2 {
	color: #80BEF3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: auto;
	padding: 2px 0;
	margin: 10px 0 6px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #80BEF3;
	width: auto;
}

H2 A {
	color: #1068AF;
}

H2 SMALL {
	font-weight: normal;
	color: #fff;
}

P {
	margin: 6px 0
}

SMALL,SMALL A {
	color: #888;
	background-color: inherit;
}

UL,OL {
	margin: 0px;
	padding: 8px 24px;
}

TD UL,TD OL {
	list-style-position: outside;
	margin: 3px 3px 3px 12px;
	padding: 0
}

LI {
	vertical-align: middle;
	margin: 2px 2px 4px 2px
}

LI P {
	margin: 2px 0;
	padding: 0;
	color: #333;
	background-color: inherit;
}

DIV.description,BLOCKQUOTE {
	color: #5F5B34;
	background-color: #EFEEE2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 6px 0;
	padding: 8px;
	border-left: 1px solid #B0AA71
}

DIV.description A,BLOCKQUOTE A {
	color: inherit;
	font-weight: bold
}

FORM {
	background-color: #f0f0f0;
	color: inherit;
	border: 1px solid #c0c0c0;
	padding: 6px;
	margin: 10px 0;
}

FORM H1 {
	font-size: 1.5em
}

FORM LABEL {
	line-height: 18px;
}

FORM.inline {
	display: inline;
	border: 0;
	background-color: transparent;
}

FIELDSET {
	border: 1px solid #1068AF;
	padding: 10px;
	margin: 4px 0
}

LEGEND {
	color: #1068AF;
	background-color: inherit
}

FORM DIV {
	margin: 6px 12px;
}

FORM TH {
	text-align: left
}

FORM TABLE TD {
	padding: 4px
}

INPUT,SELECT,TEXTAREA {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	vertical-align: middle;
	background-color: #fff;
	color: #000
}

OPTION.special {
	text-align: left;
	font-weight: normal;
	border-top: 1px solid #000;
	background-color: #FFFF90;
	background-image: url('images/folder_grid.gif');
	background-position: bottom right;
	background-repeat: no-repeat;
	margin-top: 6px;
	color: #909000
}

BUTTON,INPUT[type="submit"],INPUT[type="button"],INPUT[type="reset"] {
	background-color: #f5f5f5;
	color: #888;
	border-color: #C0C0C0;
	border-width: 1px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 10px;
	padding: 4px;
	margin: 2px 4px;
	vertical-align: middle
}

HR {
	clear: both;
	border-width: 0 0 1px 0;
	border-color: #c0c0c0;
	border-style: solid;
}

HR.clearer {
	clear: both;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

.wrapper,#nav,#footer {
	width: 815px;
}

.wrapper {
	padding: 0;
	margin: 10px auto;
	border-width: 4px;
	border-style: solid;
	border-color: #fff;
	background-color: #fff;
}

.wrapper>UL,.wrapper>OL {
	margin: 20px 20px 20px 40px
}

#container {
	margin: 0;
	padding: 4px 20px;
}

#main {
	width: 470px;
	border: 1px solid #f5f5f5;
	padding: 10px;
}

#nav {
	position: relative;
	padding: 10px;
	margin: 10px auto 0 auto;
	text-align: left;
	color: #CCC;
	background-color: #eee;
	border-color: #ccc;
	border-width: 1px 0;
	border-style: solid;
}

#nav dl {
	float: left;
	margin: 0 10px 0 0;
}

#nav dt {
	color: #fff;
	background-color: #ccc;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px 0 0 0;
	padding: 1px 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#nav dd {
	margin: 0;
	padding: 6px;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 0 0 1px;
}

#nav dd ul {
	margin: 3px 12px;
	padding: 0;
}

#nav a {
	color: #000;
	font-weight: normal;
}

#nav div {
	clear: both;
}

#header {
	margin: 0;
	color: #ccc;
}

#header div {
	text-align: right;
}

#footer {
	padding: 8px;
	margin: 0 auto;
	text-align: center;
}

.stabylo {
	background-color: #9FF;
	color: inherit
}

.chart_container {
	margin: 10px auto;
	width: 90%;
	height: 200px;
}

/* liens vers flux RSS */
.rssLink {
	border: 1px solid #666;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background-color: #ccc;
	margin: 0;
	padding: 0 3px;
}

.rssLink:hover {
	color: #fff;
	background-color: #f60;
	text-decoration: none
}

/* message utilisateur */
.error {
	color: red;
	font-weight: bold;
}

.warning {
	color: orange;
	font-weight: bold;
}

.notice {
	color: orange;
	font-weight: bold;
}

BODY {
	background-image: url('img/bg.gif');
	background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	border-width: 0;
	margin: 0;
	padding: 20px
}

H1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	width: auto;
	white-space: nowrap;
	border-bottom: 1px solid #000;
	padding: 0;
	margin: 4px 0
}

H1 STRONG {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	color: #fff;
	background-color: #FFA366
}

H1 STRONG A {
	color: #fff;
	background-color: inherit
}

H1 STRONG A:hover {
	text-decoration: none
}

H1 EM {
	color: #000;
	background-color: inherit
}

H1 SMALL {
	font-weight: normal
}

H2 {
	margin: 14px 0 10px 0;
	padding: 2px 6px;
	border-width: 0 0 1px 1px;
	border-color: #CCCCCC;
	border-style: solid;
	background-image: url('img/bg.gif');
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #666;
	background-color: inherit
}

H2 SMALL {
	color: #000;
	background-color: inherit
}

H3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #C60;
	background-color: inherit;
	margin: 10px 0 5px 0;
	border-bottom: 1px dotted #CC6600
}

H3 SMALL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	font-weight: normal;
	color: #000;
	background-color: inherit;
}

/* liens */
A {
	text-decoration: none;
	color: #F00;
	background-color: inherit;
	font-weight: bold
}

A:hover {
	color: #000;
	background-color: inherit;
}

/* liens vers documents alternatifs */
.alternateLink {
	border: 1px solid #666666;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background-color: #ccc;
	margin: 0;
	padding: 0 3px 0 3px
}

.pdfLink {
	border: 1px solid #666666;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0 3px 0 3px;
	color: #fff;
	background-color: #f03;
	text-decoration: none
}

/* paragraphes */
P {
	color: #7F7F7F;
	background-color: inherit;
	margin: 6px 0
}

P STRONG {
	color: #666;
	background-color: inherit;
	font-weight: bold
}
/* listes */
UL,OL {
	list-style-position: outside;
	margin: 3px 3px 3px 12px;
	padding: 0
}

LI {
	vertical-align: middle;
	margin: 2px 2px 4px 2px
}

LI P {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: inherit;
}

DT {
	padding: 0;
	margin: 8px 4px 4px 4px
}

DD {
	padding: 4px;
	margin: 4px 4px 8px 16px;
	color: #666;
	background-color: #F5F5F5;
	border-left: 1px solid #ccc;
}

SMALL,SMALL A {
	color: #888;
	background-color: inherit;
	font-size: 11px
}

IMG {
	border-style: none
}

FORM {
	background-color: #f0f0f0;
	color: inherit;
	border: 1px solid #c0c0c0;
	padding: 6px
}

FORM TH {
	text-align: left
}

FORM TABLE TD {
	padding: 4px
}

INPUT,SELECT,TEXTAREA {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	vertical-align: middle
}

BUTTON,INPUT[type="submit"],INPUT[type="button"],INPUT[type="reset"] {
	background-color: #f5f5f5;
	color: #888;
	border-color: #C0C0C0;
	border-width: 1px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	padding: 1px 3px;
	vertical-align: middle
}