@charset "utf-8";

BODY {
	background-image: url("images/bg.gif");
}

H1 {
	color: #000;
	border-color: #000;
	border-style: solid;
	border-width: 0 0 1px 0;
}

h3, h4 {
	text-align: center;
}

h2 {
	text-align: center;
	background-color: #8ea4bc;
}

SECTION {
	margin-top:1rem;
}

.container, .container-fluid {
	background-color:#fff;
}

.badge-default {
	background-color: #C9462C;
}

div.area {
	background-color: #e2d4b7;
}

@media ( min-width : 962px) {
	.jumbotron {
		background-image: url('images/meeting_bg.png') !important;
		padding: 100px 0 20px 0 !important;
	}
	.jumbotron .card {
		width: 40%;
		margin: 0;
		background-color: rgba(255, 255, 255, 0.8);
		padding: .8em 4em;
	}
}
