@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #efefef;
	font-size:1.2em;
}

a, a:hover {
	color : #9F3723;
}

em {
	font-variant: normal;
	font-style: normal;
	font-weight: bold;
}

.brand {
	font-family: 'Sigmar One', cursive;	
	color:#0098B6;
}

.brand small {
	color:#C9462C;
}

FOOTER .brand {
	color:#000;
}

.monochrome {
	color: inherit !important;
}

.btn-primary, .btn-primary:hover {
	color:#fff;
	background-color: #0098B6;
	border:none;
}

h1 a, h2 a, h3 a {
	color:inherit;
}

h1 {
	color: #C9462C;
	font-family: 'Sigmar One', cursive;
	margin: 0 0 1em 0;
}

h1 small{
	color: #0098B6;
}

h2 {
	border-top: 3px dashed #dfdfdf;
	font-family: 'Sigmar One', cursive;
	color: #0098B6;
	margin-top: 1em;
	padding-top: 1em;
	line-height: 2em;
}

h2 em {
	color: #C9462C;
	font-weight: normal;
}

h2 small {
	color: #C9462C;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

h3 {
	background-color: #0098B6;
	color:#fff;
	font-size: 1em;
	padding:.4em;
}

h4 {
	font-weight:bolder;
}

ul {
	padding:0 1em;
}

ul li {
	margin:1em .4em;
	list-style-type: square;
}

dl {
	background-color:#dfdfdf;
	margin:0;
	padding:1em;
}

dt {
	margin-bottom : 1em;
}

dt span.brand {
	font-size: 1.2em;
}

.container, .container-fluid {
	background-color:#fff;
	padding: 1em;
}

footer {
	text-align:center;
	margin:3em 0 0 0;
	color:#999;
}

.badge {
	font-family: Oswald;
	font-weight: normal;
	font-size:.8em;	
}

.badge-default {
	color:#fff;
	background-color: #C9462C;
}

.badge-info {
	color:#666666;
	background-color: #e0e0e0;
}

.jumbotron {
	background-color: #fff;
	padding:0;
	margin:0;
}

.jumbotron > div {
	background-color: #fff;
	padding: 1em;
	margin: 1em 0;
}

.subscriptionCard {
	border: 3px dashed #dfdfdf;
	padding:1em;
}

#method > div {
    padding: 1em;
}

#method > h2 {
    border:none;
}

.area {
	margin: 1em .5em 3em .5em;
}

@media ( min-width : 962px) {
	dl {
		height:250px;
	}

	.jumbotron {
		background-image: url('images/relaxUser_1110x740.png') !important;
		margin-bottom:2em;
		height:740px;
		border-top: 0;
	}
	
	#manifesto-doc main {
		padding : 0 1em;
	}

	#manifesto-doc h1, #manifesto-doc h2, #manifesto-doc h3 {
		text-align: center;	
	}

	#intro, #method {
		width:80%;		
		margin-left: auto;
		margin-right: auto;		
	}
	
	#intro {
		padding:2em 2em 0 2em;
		margin-top:-250px;
		margin-bottom: 4em;
		background-color:#fff;
		border-style: dashed;
		border-color: #dfdfdf;
		border-width: 3px 3px 0 3px;
	}
	
	#method {
		text-align:center;
	}
	
	#references-doc li {
		display: block;
	}
}