@charset "utf-8";

BODY {
	background-image: url("images/bg.gif");
}

H1 {
	color: #000;
	border-color: #000;
	border-style: solid;
	border-width: 0 0 1px 0;
}

h2 {
	text-align: center;
	/*
	background-color: #8ea4bc;
	background-color: #03712f
	color:#fff;
	*/
	border-bottom-width: 1px;
	border-color: #03712f;
	color: #03712f;	
}

h3 {
	text-align: center;
}

SECTION {
	margin-top:1rem;
}

.container, .container-fluid {
	background-color:#fff;
}

.badge-default {
	/* background-color: #C9462C; */
	background-color: #b20c16;
}

.jumbotron > div {
	background-color: #fff;
	padding: 1em;	
	margin: 1em 0;
}

div.area {
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	padding: 1em;
	margin: 1em .5em;
}

/* Bootstrap */
.btn-primary {
	color:#fff;
	background-color: #03712f;
	border-color: #03712f;
}

@media ( min-width : 962px) {
	.jumbotron {
		background-image: url('images/usocrate.png') !important;
		padding: 100px 0 20px 0 !important;
	}
	.jumbotron > div {
		width: 40%;
		margin: 0;
		background-color: rgba(255, 255, 255, 0.8);
	}
}
