BODY {
	margin: 10px;
	background-color: #ffffff;
	color: black;
	font-family: verdana, arial, sans-serif;
	font-size: 10px}
H1 {
	font-family: palatino linotype, verdana, arial, sans-serif;
	font-size: 20px;}	
TABLE {
	padding: 4px;
	border:1px solid #000;
	border-spacing:0px;
	border-collapse:collapse;
	table-layout:fixed;
	width:100%}
TR {
	border-bottom:1px solid #c0c0c0}
TH {
	font-family: verdana, arial, sans-serif;
	font-weight: normal;	
	font-style: normal;		
	text-align: left;
	vertical-align:top;
	padding: 2px}
TH STRONG {
	font-variant:small-caps;
	font-size:14px;
	font-style: normal;					
	font-weight: bold;}	
TD {
	margin:0px;
	padding: 2px}
.fond0 {
	background-color:#ffffff;}	
.fond1 {
	background-color:#e0e0e0;}
.note {
	text-align: right}