/* bordeaux : #993366 */
/* bleu : #3B5BA0 */
/*	beige : #D0D099 */
BODY {
	background-color:#ffffff;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin:0 20px;
	padding: 0;
	color:#777;	
	/*border:4px solid #99CC00*/}
/* liens */
A {
	color:#000;
	font-weight: normal;
	text-decoration:none;}
A:hover {
	color: #D60101;
}
/* titrage */
H1 {
	font-family: "Palatino Linotype","Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 8px 0;
	padding:2px 4px;
	color:#fff;
	background-color:#99CC00;}
H1 SMALL {
	color: #339900;
	text-transform:capitalize;}
H1 P {
	font-weight:normal;
	font-size: 11px;	
	color:#339900;
	background-color:#FFFFFF;
	border:0px solid #339900;
	margin:3px 0;
	padding:3px;}	
H2 {
	width:auto;}
H2 * {
	color: #fff;
	font-family:"Courier New",Courier, mono;
	font-size:11px;
	background-color:#390;
	white-space:nowrap;
	padding:1px 3px;}
/* listes à puces */
UL {
	margin:8px 16px;
	list-style-type:square;	
	/*list-style-image:url(../images/puce_menu_off.gif);*/
}
/* tableaux */
TABLE {
	border-spacing:0px;
	padding:0;
	margin:0;
	width:auto;
	empty-cells:show;}
THEAD TH{
	color:#FFFFFF;
	background-color:#D0D099;
	font-family:"Courier New",Courier, mono;
	font-size:11px;
	text-align:left;
	padding: 2px 8px;}
THEAD TD{
	text-align:left;
	color:#FFFFFF;
	background-color: #C99;
	padding: 2px 8px}
TFOOT TD, .tools{
	background-color:#D4D0C8;
	padding:4px 2px;
	/*background-image:url(../images/bg.gif)*/}
TFOOT TD UL, .tools UL{
	margin:4px 16px;
	padding:0}
TFOOT TD A, .tools A{
	color:#000000}	
TFOOT TH{
	background-color:#D4D0C8;
	text-align: left;
	padding: 8px 2px 8px 2px;
	vertical-align:middle}	
TFOOT TH A{
	color: #000000;
	background-color:#D4D0C8;}

TBODY TH{
	font-variant:small-caps;
	font-size:14px;
	font-weight:normal;
	padding:0px 4px 0px 4px;
	height:18px;
	color:#ffffff;
	background-color:#000000;}
TBODY TD{
	padding: 2px 8px;
	border-bottom:1px solid #F0F0F0}
/* formulaires */
LABEL *{
	font-weight: normal;
	color: #000000;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;}
INPUT {
	font-weight: normal;
	color: #000000;}
BUTTON {
	font-size: 11px;
	font-weight:bold;	
	border: 1px solid #666666;
	color: #666666;
	background-color: #F0F0F0;
	text-transform: capitalize;
	margin:2px}
BIG {
	font-size:2em; font-weight:bold; color:#000000;
}
BIG SMALL {
	font-size:1em; font-weight:bold; color:#C0C0C0;
}
/* styles perso */
.tools H1 {
	vertical-align:middle;
	text-align:left;
	background-color:#595346;
	color:#FFFFFF;
	font-family:"Courier New",Courier, mono;
	font-size:11px;
	padding:3px;
	margin:0;
	width:auto;
}
.moyenne{
	font-weight:bold;
	text-align:right;
	padding:2px;}
.note{
	color:#fff;
	padding: 2px;
	text-align:right;}	
.coef, .appreciation{
	padding: 2px;}
/* les outils de nav non contextuels */
.jumpnav {
	background-color:#000000;
	color:#FFFFFF;
	background-image:url('../images/puce_defonce.gif');
	background-position: left;
	background-repeat:no-repeat;
	height:16px;
	border-width:1px 0 1px 1px;
	border-style:solid;
	border-color:#000000;
	text-indent:24px;
	padding:0;
	margin:0;
}
.jumpnav A{color:#FFFFFF}